.vscode/

# OS
.DS_Store

# Java/Maven
**/target/
**/*.log

# Node/Vite
**/node_modules/
**/dist/
**/build/
**/.vite/
**/.eslintcache
**/.npmrc
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.pnpm-store/

# IDE
**/.idea/
**/*.iml
**/.classpath
**/.project
**/.settings/